<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row row-bordered">
        <div class="col-md-12">
            <div>
                <h4 th:text="${currentUser.username}"></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <select class="form-control" id="dropDownList">
                    <option value="0">Select user</option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Subject" class="form-control" id="subject" required>
            </div>
            <div class="form-group">
                <textarea placeholder="Message" class="form-control" id="body" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button id="connect" onclick="connect();">Connect</button>
                <button id="disconnect" disabled="disabled" onclick="disconnect();">
                    Disconnect
                </button>
            </div>
            <div class="form-group">
                <button id="sendEmail" onclick="sendEmail();">Send email</button>
            </div>
        </div>
        <div class="col-md-7">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>