<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">

    <script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>

    <script src="/webjars/jquery/3.1.1-1/jquery.js"></script>
    <script src="/app.js" type="text/javascript"></script>

</head>
<body>
<div id="main-content" class="container">
    <div class="row row-bordered">
        <div class="col-md-12">
            <div>
                <h4 id="currentUserUsername" th:text="${currentUser.username}"></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <select class="form-control" id="dropDownList">
                    <option value="0">Select user</option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Subject" class="form-control" id="subject" required>
            </div>
            <div class="form-group">
                <textarea placeholder="Message" class="form-control" id="body" rows="4" required></textarea>
            </div>
<!--            <div class="form-group">-->
<!--                <button id="connectPrivateButton" onclick="connectPrivate()">Connect Private</button>-->
<!--            </div>-->
            <div class="form-group">
                <button id="sendEmailPrivate" disabled onclick="sendEmailPrivate()">Send email Private</button>
            </div>
        </div>
        <div class="col-md-7">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/main.js" type="text/javascript"></script>
</html>