<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
            <form class="form-inline" th:action="@{/login}" th:object="${user}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your username" th:field="*{username}"/>
                </div>
                <button class="btn btn-default" type="submit">Login</button>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</body>
</html>